<template>
  <input v-model="sucomentario" placeholder="Deja tu comentario" @keypress.enter="guardarMsg">
  <button @click="cargarComentarios">Cargar ya!</button>
  <p v-for="comentario in comentarios" :key="comentario.id">
    {{comentario.contenido}}
  </p>

</template>
<script>
export default {
  name: "app",
  data() {
    return {
      sucomentario: "hola!",
      comentarios: [
        {id: 1, contenido: "adiós", fecha: "17/7/11"},
        {id: 2, contenido: "hola", fecha: "17/7/18"},
        {id: 3, contenido: "tal y cual", fecha: "17/7/20"},
        {id: 4, contenido: "pascual", fecha: "17/7/21"}
      ]
    }
  },
  methods: {
   async guardarMsg() {
          let resultado = await (await fetch(`/api/add?contenido=${this.sucomentario}`)).json();

      this.comentarios.push({id: resultado.insertId, contenido: this.sucomentario});

    },
    async cargarComentarios() {
      let respuesta = await fetch("/api/get");
      let respuestaJSON = await respuesta.json();
      this.comentarios = respuestaJSON;
    }
  }
}
</script>
<style scoped>
input {
  font-family: sans-serif;
  color: red;
}
</style>